body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h2 {
    text-align: center;
}

table {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

.btn {
    display: inline-block;
    margin-bottom: 10px;
    padding: 8px 12px;
    background: #28a745;
    color: white;
    text-decoration: none;
}

form {
    width: 300px;
    margin: auto;
}

input, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}
